extends ../layouts/application.pug

block content
  +formFor()(action=user.id method='post')
    +input(user, 'email', errors)(type="text")
    +input(user, 'password', errors)(type="password")
    +submit(user)(value=t('views.users.new.submit'))
