extends ../layouts/application.pug

block header
  h1=t('views.users.edit')

block content
  +formFor()(action=route('editUser', { id: user.id }) method='post')
    +input(user, 'name', errors)(type="text")
    +input(user, 'email', errors)(type="text")
    +input(user, 'password', errors)(type="password")
    div.d-flex
      +submit(user)(value=t('views.users.new.submit'))
