extends ../layouts/application.pug

block header
  = t('views.statuses.edit.title')

block content
  +formFor()(action=route('editStatus', { id: status.id }) method='post')
    +input(status, 'name', errors)(type="text")
    +submit(label)(value=t('buttons.edit'))
