extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.labels.id')
        th= t('views.labels.name')
    tbody
      each label in labels
        tr
          td= label.id
          td= label.name
