extends ../layouts/application.pug

block header
  h1=t('views.labels.new.title')

block content
  +formFor()(action=route('labels') method='post')
    +input(user, 'name', errors)(type="text")
    +submit(user)(value=t('views.labels.new.create'))
