extends ../layouts/application.pug

block header
  h1= t('views.tasks.new.title')

block content
  +formFor()(action=route('createTask') method='post')
    +input(task, 'name', errors)(type="text")
    +input(task, 'description', errors)(type="text")
    +input(task, 'status', errors)(type="text")
    +input(task, 'executor', errors)(type="text")
    +input(task, 'labels', errors)(type="text")
    +submit(task)(value=t('buttons.submit'))
