//- include ../mixins/forms.pug

doctype html
html(lang="en")
  head
    title task manager
    script(src=assetPath('main.js'))
    link(href=assetPath('main.css') rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body.d-flex.flex-column.min-vh-100

    .container.wrapper.flex-grow-1
      include includes/header.pug

      each messages, type in reply.flash() || []
        each message in messages
          div.alert(class=`alert-${getAlertClass(type)}`)= message

      h1.my-4
      block header
      div(class='d-flex justify-content-center')
        block content

  include includes/footer.pug
